*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.h1 {
  color: #666666;
  font: 48px "Verdana", sans-serif;
  line-height: 40px;
  padding-right: 17px;
  margin: 28px 0px 14px 20px;
}
.h2 {
  color: #F60;
  margin-top: 0;
  margin-left: 2px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Verdana", sans-serif;
}
.h3 {
  color: #F60;
  font: 24px "Verdana", sans-serif;
  font-weight: bold;
  margin: 28px 0px 29px 30px;
}
.para {
  font: 16px "Verdana", sans-serif;
  color: #666;
  line-height:  32px;
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  margin-top: 30px;
  padding-bottom: 29px;
}
.mugsize {
  max-width: 375px;
  max-height: 400px;
}
.ul {
  margin-left: 30px;
}
.col-md-5  {
  padding-right: 14px;
}
.col-md-7  {
  padding-left: 14px;
  padding-right: 14px;
}
.container {
  color: #CCC;
  list-style-image:   inherit;
  margin: 25px 0px 0px 26px;
}
.body_text {
  font: 16px "Verdana", sans-serif;
  line-height: 32px;
  margin-bottom: 10px;
  padding-top: 21px;
  padding-left: 2px;
}
.body_text2 {
  font: 16px "Verdana", sans-serif;
  line-height: 32px;
  margin-bottom: 10px;
  padding-left: 2px;
}
.body_text3 {
  font: 16px "Verdana", sans-serif;
  line-height: 32px;
  margin-bottom: 9px;
  padding-left: 2px;
}
.table_data {
  color: #CCC;
  list-style-image:   inherit;
  margin-top: 20px;
  border-right: 25px;
  border-top-width: 50px;
  border-top:thin solid;
  border-bottom:thin solid;
  border-color:#000;
}
@media only screen and (max-width: 300px) {
    p {
  display: none;
        }
}
.row {
  width: 970px;
  margin-bottom: 20px;
  display: flex;
}